@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.5900735294117647) 59%, rgba(245,238,210,1) 96%);
}

#container {
    width: 100%;
    margin: auto;
    font-family: 'Croissant One', cursive;
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        margin: 25px;
        img {
            align-self: center;
            justify-self: center;
            border-radius: 100%;
            width: 80px;
        }
    }
    #globalDiv {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        #box {
            background: rgb(215,207,157);
            background: radial-gradient(circle, rgba(215,207,157,1) 59%, rgba(245,238,210,1) 96%);
            border: 1px solid black;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 320px;
            height: 650px;
            figure {
                position: relative;
                width: 90%;
                aspect-ratio: 1/1;    
                img {
                    border-radius: 20px;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
            #btnName {
                display: grid;
                grid-template-columns: 50% 1fr;
                grid-template-rows: 1fr;
                width: 90%;
                button {
                    border: none;
                    background-color: transparent;
                    order: 2;

                    i {
                        color: #fbf7e7;
                        font-size: 30px;
                        cursor: pointer;
                    }
                }
            }
            #pTotal {
                width: 90%;
                order: 1;
            }
        }
    }
    @media screen and (min-width:750px) and (max-width:1200px) {
        #globalDiv {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            }
    }
    @media screen and (min-width:1200px) and (max-width:1500px) {
        #globalDiv {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            }
    }
    @media screen and (min-width:1500px) and (max-width:1800px) {
        #globalDiv {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            }
    }
    @media screen and (min-width: 1800px) {
        #globalDiv {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    } 
}